<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.connriverlines.connrail">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.connriverlines.connrail.SplashScreenActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.connriverlines.connrail.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.connriverlines.connrail.AboutActivity"
            android:label="@string/menu_about"
            android:parentActivityName="com.connriverlines.connrail.MainActivity" />
        <activity
            android:name="com.connriverlines.connrail.HelpActivity"
            android:label="@string/menu_help"
            android:parentActivityName="com.connriverlines.connrail.MainActivity" />
        <activity
            android:name="com.connriverlines.connrail.BackupRestoreActivity"
            android:label="@string/action_backup_restore"
            android:parentActivityName="com.connriverlines.connrail.MainActivity" />
        <activity
            android:name="com.connriverlines.connrail.ConsistListActivity"
            android:label="@string/menu_consist_list"
            android:parentActivityName="com.connriverlines.connrail.MainActivity" />
        <activity
            android:name="com.connriverlines.connrail.ConsistActivity"
            android:parentActivityName="com.connriverlines.connrail.ConsistListActivity" />
        <activity
            android:name="com.connriverlines.connrail.YardListActivity"
            android:label="@string/menu_yard_list"
            android:parentActivityName="com.connriverlines.connrail.MainActivity" />
        <activity
            android:name="com.connriverlines.connrail.CarLocationListActivity"
            android:label="@string/menu_car_status"
            android:parentActivityName="com.connriverlines.connrail.MainActivity" />
        <activity
            android:name="com.connriverlines.connrail.CarLocationActivity"
            android:parentActivityName="com.connriverlines.connrail.CarLocationListActivity" />
        <activity
            android:name="com.connriverlines.connrail.CarListActivity"
            android:label="@string/menu_car_list"
            android:parentActivityName="com.connriverlines.connrail.MainActivity" />
        <activity
            android:name="com.connriverlines.connrail.CarInfoActivity"
            android:label="@string/menu_car_info"
            android:parentActivityName="com.connriverlines.connrail.MainActivity" />
        <activity
            android:name="com.connriverlines.connrail.SpotListActivity"
            android:label="@string/menu_spot_list"
            android:parentActivityName="com.connriverlines.connrail.MainActivity" />
        <activity
            android:name="com.connriverlines.connrail.CarAddEditActivity"
            android:label="@string/title_car_add_edit"
            android:parentActivityName="com.connriverlines.connrail.CarListActivity" />
        <activity
            android:name="com.connriverlines.connrail.SpotAddEditActivity"
            android:label="@string/title_spot_add_edit"
            android:parentActivityName="com.connriverlines.connrail.SpotListActivity" />
        <activity
            android:name="com.connriverlines.connrail.UserTypeActivity"
            android:label="@string/action_user_type"
            android:parentActivityName="com.connriverlines.connrail.MainActivity" />
    </application>

</manifest>